.player {
  width: 360px;
  background: #eee;
}

.panel {
  height: 60px;
  background: #ddd;
}

.cover {
  float: left;
  width: 60px;
  height: 60px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover .play-btn {
  width: 25px;
  height: 25px;
  /* border: solid 2px #ffffff80; */
  border-radius: 15px;
  background: #3f3f3f40;
  background-size: cover;
  cursor: pointer;
}

.play-btn.playing {
  background-image: url(../assets/play.png);
}

.play-btn.pause {
  background-image: url(../assets/pause.png);
}

.right {
  width: 280px;
  padding: 14px 13px;
  margin-left: 60px;
}

.song-info {
  font-size: 13px;
}

.song-title {
  font-size: 15px;
}

.control-bar {
  position: relative;
  width: 275px;
  margin-top: 5px;
  padding-top: 5px;
}

.control-bar .progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background: #ccc;
}

.control-bar .progress-click {
  position: absolute;
  top: -2.5px;
  width: 100%;
  height: 10px;
}

.control-bar .progress-played {
  position: absolute;
  width: 0;
  height: 5px;
  background: black;
}

.control-bar .progress-loaded {
  position: absolute;
  width: 0;
  height: 5px;
  background: #999;
}

.progress-played .progress-thumb {
  position: absolute;
  top: -2px;
  right: -3px;
  width: 5px;
  height: 9px;
  background: #fff;
  cursor: pointer;
}

.control-bar .time {
  position: absolute;
  right: 0;
  top: -17px;
  font-size: 13px;
  color: #444;
  user-select: none;
}

.lyric {
  position: relative;
  height: 150px;
  text-align: center;
  overflow: hidden;
}

.lyric-list {
  position: absolute;
  top: 61px;
  width: 100%;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  transition: transform .4s ease;
}

.lyric-list li {
  height: 28px;
  font-size: 14px;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lyric-list li.current {
  color: #000;
  font-size: 17px;
}
